*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #3E4756;
    font-family: 'Inter', sans-serif;
    padding: 0 15px;
}
.header > *{
    margin: auto;
    text-align: center;
}
.header{
    max-width: 1250px;
    margin: auto;
    padding: 64px 20px;
    background-color: #FEDD2B;
    border-radius: 0 0 80px 80px;
}

.header__logo img{
    max-width: 285px;
}

.header__title {
    margin-top: 32px;
    font-size: clamp(36px, 5vw, 64px);
    max-width: 80%;
    word-wrap: break-word;
    font-weight: 700;
    margin-bottom: 24px;
}
.header__description{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 32px;
}
.header__description-bold{
    font-weight: 500;
}
.header__exchange{
    max-width: 980px;
    margin: auto;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__exchange-block{
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
    position: relative;
}
.header__exchange-label{
    color: #6A6969;
    font-size: 14px;
    margin-left: 15px;
}
.header__exchange-select {
    width: 195px;
    height: 45px;
    background-color: #EBEAEA;
    border: 1px solid #EBEAEA;
    color: black;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    cursor: pointer;
}

.header__exchange-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(50%);
    width: 15px;
    pointer-events: none;
}
.header__exchange-input{
    width: 195px;
    height: 45px;
    background-color: #EBEAEA;
    border: 1px solid #EBEAEA;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.header__exchange-select--yellow {
    background-color: rgba(251, 237, 160);
    appearance: none;
    border: 1px solid rgba(251, 237, 160);
    border-radius: 10px;
    height: 35px;
    width: 55px;
    padding: 0 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    font-size: 15px;
    color: transparent;
    background-position: left 5px center !important;
    cursor: pointer;
  }
.header__exchange-line {
    width: 195px;
    height: 45px;
    padding-right: 5px;
    padding-left: 15px;
    background-color: #FEDD2B;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 12px; 
    border-radius: 10px;
}
.custom-select {
    position: relative;
    width: 195px;
    height: 45px;
    background-color: #EBEAEA;
    border: 1px solid #EBEAEA;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 16px;
    cursor: pointer;
}

.custom-select__selected {
    display: flex;
    align-items: center;
    height: 100%;
}

.custom-select__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.custom-select__text {
    flex-grow: 1;
}

.custom-select__options {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #EBEAEA;
        border: 1px solid #EBEAEA;
        border-radius: 10px;
        z-index: 1000;
        margin-top: 5px;
        max-height: 0; /* Изначально скрыто */
        overflow: hidden; /* Скрываем все, что выходит за пределы */
        opacity: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease; /* Плавное появление */
}

.custom-select__option {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-select__option:hover {
    background-color: #D9D9D9;
}

.custom-select__options.show {
    max-height: 500px; /* Ограничиваем максимальную высоту, чтобы список не вылезал */
    opacity: 1;
}
.header__custom-select-arrow{
    position: absolute;
    right: 10px;
    transform: translateY(100%);
    width: 15px;
    pointer-events: none;
}
.header__link{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 310px;
    height: 70px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    gap: 8px;
    margin-top: 64px; 
    transition: margin-top 0.3s ease; 
}
.last-exchange__container {
    margin: auto;
    max-width: 980px;
    margin-bottom: 96px;
}

.last-exchange__date {
    font-size: 10px;
}

.last-exchange__rate {
    font-size: 12px;
    font-weight: 500;
}

.last-exchange__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.last-exchange__title {
    font-size: 14px;
    color: white;
    font-weight: 300;
    margin-left: 20px;
    margin-top: 48px;
    margin-bottom: 12px;
}

.main {
    max-width: 1250px;
    margin: auto;
}

.last-exchange__list {
    background-color: #fff;
    padding: 20px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    justify-content: space-between;
}

.last-exchange__item--hidden {
    max-height: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.last-exchange__item--visible {
    max-height: 100px;
    opacity: 1;
}

.last-exchange__toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: none;
    -webkit-tap-highlight-color: transparent;
    
}

.last-exchange__toggle--open {
    transform: rotate(180deg);
}

.last-exchange__toggle-icon {
    width: 20px;
}
.work-process{
    max-width: 980px;
    margin: auto;
}
.work-process__image{
    max-width: 100%;
    display: block;
    height: auto;
    margin-bottom: 64px;
}
.work-process__title{
    font-size: clamp(36px, 5vw, 64px);
    color: white;
    text-align: center;
    font-weight: 700;
    margin-bottom: 12px;
}
.work-process__description{
    font-size: clamp(18px, 2vw, 22px);
    color: white;
    text-align: center;
    font-weight: 300px;
    margin-bottom: 12px;
}
.work-process__link{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 310px;
    height: 70px;
    background-color: #FEDD2B;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    gap: 8px;
    color: black;
}

@media screen and (max-width: 920px) {
    .header__exchange {
        flex-direction: column;
        gap: 12px;
        max-width: 330px;
    }
    .header__exchange{
        padding-bottom: 45px;
        padding-top: 45px;
    }
}

@media screen and (max-width: 810px) {
    .header__description {
        gap: 16px;
    }
    .last-exchange__list {
        flex-direction: column;
        gap: 12px;
    }
    .last-exchange__container {
        max-width: 200px;
        margin-bottom: 64px;
    }
    .last-exchange__toggle {
        display: block;
    }
    .last-exchange__item--hidden{
        overflow: hidden;
    }
    .work-process__image{
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 420px) {
    .header__description {
        max-width: 300px;
    }
    
}



